<!DOCTYPE html>
 
<html>
    <body>
        <form action="profileform" method="POST">
         Name:<input type="text" name="name"><br><br>
         Age:<input type="text" name="age"><br><br>
         Gender:
         <input type="radio" name="gender" value="male">Male
         <input type="radio" name="gender" value="female">Female
         <input type="radio" name="gender" value="others">other<br><br>
         Address:<input type="text" name="address"><br><br>
         Pincode<input type="text" name="pincode"><br><br>
         <input type="submit" value="enter">
        </form>
    </body>
</html>