<!DOCTYPE html>
<html>
    <body>
        <form action="/uploadprojectform" method="POST">
            name:<input type="text" name="name"><br>
            email:<input type="text" name="email"><br>
            language type:
            <select name="language" size="1">
                <option value="c">c</option>
                <option value="c++">c++</option>
                <option value="java">java</option>
                <option value="python">python</option>
            </select><br>
            upload file:
            <input type="file" name="folder" webkitdirectory directory><br>
            <input type="submit" value="enter">

        </form>
    </body>
</html>